/* This document is for all of the CSS edits that are not in Boostrap */
h1 {

    /* For entire webpage */
    padding-top: .5em;
    color: #F15B25;
    font-family: 'Copse', serif;
    font-size: 4em;
    text-align: center;
}
h2 {

    /* For entire document */
    color: #414042;
    font-family: 'Lato', sans-seif;
    font-size: 1.33em;
    text-align: left;
    line-height: 1.33333em;
    margin-top: 1.5em;
}
h3 {
    color: #ffffff;
    font-family: 'Lato', sans-seif;
    text-align: center;
}
hr {
    border-top: .2em solid #dedede;
}
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 0px solid rgba(255, 255, 255, .3);
    font-family: Montserrat, "Lato", Helvetica, Arial, sans-serif;
    background-color: white;
    border-bottom: 1px solid #414042;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 21px !important;
    color: white;
    background-color: white;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}
.navbar-custom a {
    color: #414042;
}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    background-color: white;
}
.navbar-custom .nav li a:hover {
    outline: 0;
    color: white;
    background-color: #414042 !important;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}
.navbar-custom .nav li.active {
    outline: 0;
}
.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .3);
}
.navbar-custom .nav li.active a:hover {
    color: #fff;
}
.intro {
    display: table;
    width: 100%;
    height: 900px;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/lafayette.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
.intro .intro-body .brand-heading {
    font-size: 52px;
    font-weight: 500;
}
.intro .intro-body .intro-text {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato', sans-seif;
}
.intro-option {
    margin-top: 40px;
}
.intro-option img {
    max-width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    position: absolute;
}
.intro-fieldset {
    padding: 32px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    min-height: 250pt;
}
.intro-option p {
    margin: 10px 0 10px;
}
@media screen and (min-width:991px) {
    .intro-option-button {
        display: flex;
        align-items: flex-end;
    }
}
.intro-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/*
.intro-option-button a {
    font-size: 56px;
    color: #5B4C9F;
    text-decoration: none;
}
*/
.fa-chevron-circle-down {
	font-size: 56px !important;
	color: #5B4C9F;
	text-decoration: none;
}
.intro-option-button p {
    margin-top: 1.3333em;
    margin-bottom: 1.3333em;
    color: white;
    font-size: 1.6667em;
    font-family: 'Lato', sans-seif;
    font-weight: 400;
    text-align: center;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100% !important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
.emergency {
    clear: both;
    width: 100%;
    float: left;
    position: static;
    background-color: #F15B25;
    height: 65px;
	font-size: 1.33em;
	margin-bottom: 20px;
}
.resource-purple {
    background-color: #5B4C9F;
    color: #ffffff;
    font-family: 'Lato', sans-seif;
    text-align: center;
    margin-top: 2.8125em;
}
.resource-grey {
    background-color: #999998;
    color: #ffffff;
    font-family: 'Lato', sans-seif;
    text-align: center;
    margin-top: 2.8125em;
}
.resource-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.8125em;
    height: 3.4375em;
    width: 3.4375em;
}
.resource-tags {
    margin-top: 1.2em;
}
.resource-tags img {
    margin-left: .8em;
    margin-right: .5em;
    max-height: .75em;
    max-width: .75em;
}
.resource-info {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2em;
}
.resource-info img {
    margin-right: .5em;
    max-height: 1.33em;
    max-width: 1.33em;
}
.resource-info p a {
    color: #ffffff;
}
.borderless tbody tr td, .borderless tbody tr td tr, .table-responsive {

    /* Applies to <table> elements to remove borders */
    border: none;
}
.btn-outline {
    background-color: transparent;
    border: .05em solid #ffffff;
    white-space: normal;
}
.btn-outline:hover {
    border: 0.1em solid #ffffff;
    color: #ffffff;
    font-weight: bold;
}
.what-you-need-title p, .what-you-do-title p {
    margin-top: 1.3333em;
    margin-bottom: 1.3333em;
    color: #5B4C9F;
    font-size: 1.6667em;
    font-family: 'Lato', sans-seif;
    font-weight: 400;
    text-align: center;
}
.what-you-need p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.what-you-need-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8125em;
    margin-bottom: 1.8125em;
    height: 2.6667em;
    width: 2.6667em;
}
.what-you-do {
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
    padding-bottom: 5em;
}
ul li {
    padding: 0.33em;
}
@media (min-width: 800px) {
	.col-md-12 h2, .col-md-12 p {
		width: 66%;
		margin-left: auto;
		margin-right: auto;
	}
}
.map-container {
	position: relative;
	height: 800px;
}

.map-container img {
	width: 100%;
	max-width: 700px;
	position: absolute;
	top:0;
	left:50%;
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.map-container .mapover {
	z-index: 2;
}